{% extends 'TyBeeWeb/base.html' %}
{% load staticfiles %}


{% block main %}
<div class="container" style="padding-top: 100px">
  <p>
    <h1>Ceci est le site de TyBee !</h1>
    Sur cette interface web vous pouvez monitorer les différents capteurs présents dans la ruche connectée de Télécom Bretagne.<br/>

    Projet réalisé par :<br/>
    <ul>
      <li>Loïc Carr</li>
      <li>Thomas Delaby</li>
      <li>Ladislas Ducerf</li>
      <li>Xavier Duquesne</li>    
      <li>Jihad Hamzi</li>
      <li>Juliette Homassel</li>
      <li>Théo Jacquin</li>
      <li>Agathe Villien</li>
    </ul>
  </p>
</div><!-- container -->
{% endblock %}

{% block footer %}
{% endblock %}


