{% extends 'monitoring/flotBase.html' %}
{% load staticfiles %}

{% block navList %}
<li>
  <a class="page-scroll" href="{% url 'monitoring:seeHives' %}">Retour aux ruches</a>
</li>
<li>
  <a class="page-scroll" href="#page-top">{{ hive.name }}</a>
</li>
{% for captor in hive.graphs %}
<li>
  <a class="page-scroll" href="#captor{{ captor.id }}">Capteur {{ captor.name }}</a>
</li>
{% endfor %}
{% endblock %}


{% block main %}
<section id="intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
	<h1>Ruche {{ hive.name }}</h1>
	
	<div class="row" style="padding-top:20px;">
	  <div class="col-md-5">
	    {% if hive.photo %}
	    <img src="{{ hive.photo.url }}" alt="Ruche {{hive.name}}" style="height:200px;"/>
	    {% endif %}
	  </div>
	  <div class="col-md-6 col-md-offest-1">
	    <p>{{hive.description|safe}}</p>
	  </div>
	</div>    
	
      </div>
    </div>
  </div>
</section>
{% for graph in hive.graphs %}
<section id="captor{{ graph.id }}" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
	<h1>Capteur {{ graph.name }}</h1>
	<div class="row">
	  <div class="col-lg-10 col-lg-offset-1">
	    <!-- Le graphe-->
	    <div>
	      <div id="zoomableGraph{{ hive.id }}-{{ graph.id }}" style="width:100%;height:300px;"></div>
	      <script type="text/javascript">
		$(document).ready(zoomablePlot("#zoomableGraph{{ hive.id }}-{{ graph.id }}", {{ graph.datas|safe}}, {{ graph.options|safe }}, "{% static 'img/arrow-left.gif' %}", "{% static 'img/arrow-right.gif' %}"));
	      </script>
	    </div>
	    <p>
	      Le capteur est un <strong>{{ graph.reference }}</strong> mesurant en <strong>{{ graph.unit }}</strong> avec une incertitude de <strong>± {{ graph.incertitude }}</strong>.
	    </p>
	  </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endblock %}

<!--{% block menu_holder %}
<h3 class="text-center"> Menu </h3>
<ul>
  <li><a href="{% url 'monitoring:seeHive' idHive=hive.id %}">Ruche "{{ hive.name }}"</a></li>
  {% for captor in captors %}
  <li><a href="{% url 'monitoring:seeCaptor' idHive=hive.id idCaptor=captor.id %}">Capteur "{{ captor.name }}"</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block monitoring_holder %}
{% for graph in charts %}
<div class="col-xs-5 col-xs-offset-1 ">
  <a href="{% url 'monitoring:seeCaptor' idHive=hive.id idCaptor=graph.id %}"><h4 class="text-center">Graphe du capteur "{{graph.name}}"</h4></a>
  
</div>
{% endfor %}
{% endblock %}
-->
